namespace: stage
resources:
- ../../base

patchesStrategicMerge:
- mem.yaml
- service.yaml

images:
- name: node
  newName: aade/node
  newTag: v1.0.0-stage

replicas:
- count: 2
  name: frontend

namePrefix: stage-

patches:
- patch: |-
    - op: replace
      path: /spec/rules/0/host
      value: stage.10-0-10-10.sslip.io
  target:
    kind: Ingress
    name: ingress-myservice
- path: node-selector.yaml
  target:
    kind: Deployment
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
